<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CC 2015\Support Files\"/>
    <add key="AeProjectPath" value="C:\Users\MJPOURNASSARI\Desktop\NEW PRJ\Arm Time (Barnameh Badi)-Prerender\Arm Time (Barnameh Badi)-Prerender copy (CC (12)).aep"/>
    <add key="AeComposition" value="Arm Time - Final For Export"/>
    <add key="OutputPath" value="\\192.168.10.32\playout$\"/>
    <add key="OutputFilePrefix" value="ArmTime"/>
    <add key="OutputFolderName" value="ArmTime"/>
    <add key="xml" value="C:\Users\MJPOURNASSARI\Desktop\NEW PRJ\Arm Time (Barnameh Badi)-Prerender\Data.xml"/>
    <add key="VideoFootage" value="C:\Users\MJPOURNASSARI\Desktop\NEW PRJ\Arm Time (Barnameh Badi)-Prerender\(Footage)\"/>
    <add key="QueueDirectory" value="C:\Users\MJPOURNASSARI\Desktop\Q\"/>
  </appSettings>
</configuration>